* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: "Agency FB";
    font-weight: bold;
    background-color:#0E0E10;
  }

.header{
  position: absolute;
  max-height: 4.5rem;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #26262C;
  padding: 30px 50px 20px 50px;
 
}



.slideshow-container {
  max-width: 75%;
  top: 50px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.ban {
    width: 100%;
    background-color: #1F1F23;
}

.imgjv { display: flex;
    max-width:50%;
    margin: auto;
}

.d-flex {
  display: flex !important;
}

  .dFlex, .header, nav, nav ul, .main_content, .main_content .card, .main_content .card .card_header, .btn, .footer, .footer .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px 50px 20px 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    color: #fff;
  }
  
  nav .logo {
    max-width: 10%;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  nav ul li a {
    font-size: 20px;
    margin-left: 25px;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
  }

  nav ul li a:hover {
    color: #fe8033;
    text-decoration: none;
  }
  nav ul li a:active {
    color: #fe8033;
    text-decoration: none;
  }
  
  nav .search {
    padding-left: 100px;
  }
  
  nav .search .icon {
    width: 15px;
    cursor: pointer;
    margin-left: 15px;
  }

  .main_content {
    position: relative;
    width: 70%;
    height: 100%;
    margin: 50px auto;
    padding: 200px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .container-fluid {
  width: 100%;
  padding-right: 15px;
  }



  .prod .main_content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 50px auto;
    padding: 200px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .demon {
    width: 900px;
  }
  .description {
    position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #1F1F23;
background-clip: border-box;   
  }

.prod h1 {
    position: relative;
    left: 0;
    top: 10px;
    padding: 10px;
    color: #fe8033;
    font-size: 5vw;
  }

  .prod .description h2, p { 
    color: #fff;
  }

  .main_content h1 {
    position: absolute;
    left: 0;
    top: 10px;
    border: solid 3px#fe8033;
    color: #fe8033;
    font-size: 5vw;
  }

  .hits {
    background-color: #26262C;
  }

  
  
  .main_content .card {
    width: 30%;
    border-radius: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-bottom: 50px;
  }
  
  .main_content .card .card_img {
    margin-top: -5vw;
  }
  
  .main_content .card .card_img img {
    width: 300px;
  }
  
  .main_content .card .card_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
    margin: 25px 0;
  }

  .new .main_content .card:hover {
    background-color: #2b3039;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
  }
  .top-sellers .main_content .card:hover {
    background-color: #2b3039;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
  }

  .main_content .card:hover .btn {
    background-color: #fe8033;
    color: #fff;
  }

  .hits .main_content {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 50px auto;
    padding: 200px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  
  .prod .main_content {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 50px auto;
    padding: 200px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .hits .main_content .card {
    width: 40%;
    border-radius: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-bottom: 50px;
  }
  
  .hits .main_content .card .card_img {
    margin-top: -5vw;
  }
  
  .hits .main_content .card .card_img img {
    width: 500px;
  }
  
  .hits .main_content .card .card_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
    margin: 25px 0;
  }
  
  .hits .main_content .card .card_header h2 {
    font-size: 18px;
  }
  
  
  .hits .main_content .card:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
  }


  .main_content .card:hover .btn-square {
    background-color: #fe8033;
    color: #fff;
  }
  
  .btn {
    width: 130px;
    height: 35px;
    font-size: 14px;
    border-radius: 35px;
    background-color: #2d343e;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    position: relative;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    overflow: hidden;
  }

  .btn-square {
    width: 130px;
    height: 35px;
    font-size: 14px;
    text-align: center;
    padding: 7px;
    background-color: #2d343e;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    position: relative;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    overflow: hidden;
  }
  
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    background-color: #1F1F23;
    width: 100%;
    height: 5.5rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: auto;
    color: #fff;
    font-size: 12px;
    padding-left: 15px;
  }

  
  .footer .social .icon {
    width: 20%;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
  }
  
 
  .contact {
      margin: auto;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  nav ul li a {
    font-size: 10px;
  }
  nav .search .icon {
    margin-left: 0px;
    width: 10px;
  }
  nav .search input {
    display: none;
  }
  .main_content .card .card_header h2 {
    font-size: 12px;
  }
  
  .btn {
    width: 65px;
    height: 17.5px;
    font-size: 7px;
  }

  .main_content .card .card_header .price {
    font-size: 12.5px;
  }

  .main_content .card .card_img img {
    width: 100px;
  }
  .hits .main_content .card .card_img img {
    width: 150px;
  }

  .text {
    font-size: 7.5px;
  }

  
  
}

@media screen and (min-width: 640px) and (max-width: 1024px) {


  nav .search input {
    display: none;
  }
  
  nav .logo {
    margin-left: 10px;
  }

  .hits .main_content .card .card_img img {
    width: 250px;
  }
}